/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    background-color: #dddddd;
}

header {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 2rem 2rem .7rem 2rem;
    background-color: white;
    color: #29b1dd;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #29b1dd;
    color: white;
    font-size: 1.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mr-1 {
    margin-right: 1rem;
}

/* CONTAINER */
#container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 1rem;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 100px;
    border-radius: 10px;
    margin: 4rem;
    box-shadow: 2px 2px #888888;
    background-color: #f5f5f5;
}

/* ICON */
.animal,
.vegetable,
.user {
    font-size: 2.5rem;
}

.animal {
    color: #0000ff;
}

.vegetable {
    color: #ffa500;
}

.user {
    color: #800080;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

/*
Colori:
bg: #dddddd
bg-rettangoli: #f5f5f5
nav-bar & colore logo: #29b1dd
Blu: #0000ff
Arancione: #ffa500
Viola: #800080
*/