/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
Colori:
bg: #dddddd
bg-rettangoli: #f5f5f5
nav-bar & colore logo: #29b1dd
Blu: #0000ff
Arancione: #ffa500
Viola: #800080
*/